:root {
  --cream: #f7eee7;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  background: var(--cream);
}

.scene {
  position: relative;

  width: 100vw;
  height: 100dvh;

  overflow: hidden;

  background:
    radial-gradient(
      circle at 50% 45%,
      rgba(255, 220, 60, 0.10),
      transparent 35%
    ),

    var(--cream);
}


/* ========================================
   CANVAS DEL ÁRBOL
======================================== */

#treeCanvas {

  position: absolute;

  inset: 0;

  width: 100%;
  height: 100%;

  display: block;

  z-index: 2;
}


/* ========================================
   CANVAS DE PETALOS
======================================== */

#petalCanvas {

  position: absolute;

  inset: 0;

  width: 100%;
  height: 100%;

  display: block;

  pointer-events: none;

  z-index: 3;
}


/* ========================================
   CELULARES
======================================== */

@media (max-width: 600px) {

  .scene {
    width: 100vw;
    height: 100dvh;
  }

}
